## Machine Learning - CS60050
### Roll No: 19EC30055
### Name: Ujwal Nitin Nayak
### Assignment No: 3

### Introduction

- The K-Means Clustering algorithm is one of the simplest and most popular unsupervised learning algorithms. 
- It is a part of a class of unsupervised learning algoithms called Clustering algorithms. Clustering involves grouping data points into different sets based on their degree of similarity. It is majorly of two types - Heirarchical Clustering and Partitioning Clustering. Heirarchical clustering can be further subdivided into Agglomerative and Divisive Clustering while Partition Clustering can be divided into K-Means Clustering and Fuzzy C-Means Clustering.
- K-Means performs the division of objects into clusters that share similarities and are dissimilar to the objects belonging to another cluster. 
- The term K refers to the number of clusters in which the algorithm is required to divide the data. It is usually defined by the data analyst. The optimal K for a given dataset can be obtained by running the algorithm for a range of K's and choosing that K which is not too large but also sufficiently minimises the scatter within a cluster.
- The similarity between data points is quantified using a distance metric. This distance metric can be one of several metrics - Manhattan Distance, Euclidean Distance etc. In this assignment, the K-Means algorithm uses Euclidean Distance as the metric.

#### Importing Required Libraries

In [1]:
import numpy as np #For mathematical functions
import pandas as pd #For handling imported data
import matplotlib.pyplot as plt#For visualising the scatter (NOT USED IN THE K-MEANS ALGORITHM)
%load_ext autotime

time: 0 ns (started: 2022-04-05 15:24:24 +05:30)

#### Importing Training Data and Storing Attribute Names

In [2]:
df=pd.read_csv('Project3.csv')#Reading csv file using Pandas and storing it in a DataFrame
attributes=df.columns.values.tolist()#Extracting column names
df.head(10)

,ID,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
0,100000001,0,0,67,2,124670,1,2
1,100000002,1,1,22,1,150773,1,2
2,100000003,0,0,49,1,89210,0,0
3,100000004,0,0,45,1,171565,1,1
4,100000005,0,0,53,1,149031,1,1
5,100000006,0,0,35,1,144848,0,0
6,100000007,0,0,53,1,156495,1,1
7,100000008,0,0,35,1,193621,2,1
8,100000009,0,1,61,2,151591,0,0
9,100000010,0,1,28,1,174646,2,0

time: 31 ms (started: 2022-04-05 15:24:40 +05:30)

In [3]:
#Since the ID is not a useful attribute, let us drop this column
df=df.drop(columns=['ID'])
df.head(10)

   Sex  Marital status  Age  Education  Income  Occupation  Settlement size
0    0               0   67          2  124670           1                2
1    1               1   22          1  150773           1                2
2    0               0   49          1   89210           0                0
3    0               0   45          1  171565           1                1
4    0               0   53          1  149031           1                1
5    0               0   35          1  144848           0                0
6    0               0   53          1  156495           1                1
7    0               0   35          1  193621           2                1
8    0               1   61          2  151591           0                0
9    0               1   28          1  174646           2                0

time: 32 ms (started: 2022-04-05 15:24:47 +05:30)

In [4]:
data=df[['Age','Income']].copy();
data.head(10)

   Age  Income
0   67  124670
1   22  150773
2   49   89210
3   45  171565
4   53  149031
5   35  144848
6   53  156495
7   35  193621
8   61  151591
9   28  174646

time: 0 ns (started: 2022-04-05 15:27:03 +05:30)

In [5]:
#Normalizing Data
def normalize(df):
    cnt=0
    #Looping over columns
    for col in df.columns:
        #Stopping the loop after the first two columns (containing numerical data) are normalized
        mx=df[col].max()        #Finding maximum value
        mn=df[col].min()        #Finding minimum value
        df[col]=(df[col]-mn)/(mx-mn);   
        cnt+=1

time: 0 ns (started: 2022-04-05 15:27:23 +05:30)

In [11]:
normalize(data)
data.head(10)

        Age    Income
0  0.844828  0.324781
1  0.068966  0.420210
2  0.534483  0.195144
3  0.465517  0.496223
4  0.603448  0.413842
5  0.293103  0.398549
6  0.603448  0.441129
7  0.293103  0.576858
8  0.741379  0.423201
9  0.172414  0.507487

time: 16 ms (started: 2022-04-05 15:28:01 +05:30)

In [12]:
data.describe()

               Age       Income
count  2000.000000  2000.000000
mean      0.308776     0.311197
std       0.202059     0.139321
min       0.000000     0.000000
25%       0.155172     0.226048
50%       0.258621     0.291434
75%       0.413793     0.373778
max       1.000000     1.000000

time: 0 ns (started: 2022-04-05 15:28:03 +05:30)

In [16]:
data_array=data.values
data_array

array([[0.84482759, 0.32478101],
       [0.06896552, 0.42021043],
       [0.53448276, 0.19514353],
       ...,
       [0.22413793, 0.18487051],
       [0.10344828, 0.22716172],
       [0.12068966, 0.11912317]])

time: 0 ns (started: 2022-04-05 15:29:58 +05:30)

In [17]:
def euclidean(example,centroid):
    distance=np.sum((example-centroid)**2);
    return np.sqrt(distance);

time: 0 ns (started: 2022-04-05 15:30:24 +05:30)

In [19]:
def choose_clusters(centroids,data_array):
    clusters=[]
    for i in range(clusters.shape[0]):
        distances=[]
        for centroid in centroids:
            distance.append(euclidean(centroid,data_array[i]))
        cluster=[c for c,v in enumerate(distances) if val==min(distances)]
        clusters.append(cluster)
    return clusters

time: 0 ns (started: 2022-04-05 15:34:23 +05:30)

In [20]:
def find_centroids(clusters,data_array):
    updated=[]
    for c in set(cluster_df['cluster']):
        curr = df[df['cluster']==c][df.columns[:-1]]
        c_mean = curr.mean(axis=0)
        updated.append(c_mean)
    return updated

time: 0 ns (started: 2022-04-05 15:37:43 +05:30)

In [23]:
def calc_centroid_variance(clusters, cluster_array):
    sum_squares = []
    cluster_df = pd.concat([pd.DataFrame(cluster_array),
                            pd.DataFrame(clusters, 
                                         columns=['cluster'])], 
                           axis=1)
    for c in set(cluster_df['cluster']):
        current_cluster = cluster_df[cluster_df['cluster']\
                                     ==c][cluster_df.columns[:-1]]
        cluster_mean = current_cluster.mean(axis=0)
        mean_repmat = np.matlib.repmat(cluster_mean, 
                                       current_cluster.shape[0],1)
        sum_squares.append(np.sum(np.sum((current_cluster - mean_repmat)**2)))
    return sum_squares

time: 0 ns (started: 2022-04-05 15:40:42 +05:30)

In [26]:
k = 4
cluster_vars = []
centroids = [data_array[i+2] for i in range(k)]
clusters = choose_clusters(centroids, data_array)
initial_clusters = clusters
print(0, round(np.mean(calc_centroid_variance(clusters, cluster_array))))
for i in range(20):
    centroids = find_centroids(clusters, cluster_array)
    clusters = choose_clusters(centroids, cluster_array)
    cluster_var = np.mean(calc_centroid_variance(clusters, 
                                                 cluster_array))
    cluster_vars.append(cluster_var)
    print(i+1, round(cluster_var))

AttributeError: 'list' object has no attribute 'shape'

time: 16 ms (started: 2022-04-05 15:41:32 +05:30)

In [ ]:
def KOpt(kmax):